.footer {
    background-color: #d8d8d8; 
    padding: 20px;
    text-align: center;
     /* position:sticky;  */
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .design-info {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .copyright {
    font-size: 0.8em;
    color: #666; 
  }
  