.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
    height: 140vh;
}

.content {
    /* display: flex;
    flex-direction: column; */
    gap: 1.5rem;
    /* justify-content: center;
    align-items: center; */
    border: 2px solid red;
    background-color:green
}
.content p{
    text-decoration: underline;
    color: aquamarine;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    text-decoration: center;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.box {
    font-weight: bolder;
    
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: rgb(47, 185, 137);
    color: rgb(255, 255, 255);

}

.left-box {
    margin-right: 0px;
}
input{
    border-radius: 10px;
    background-color: rgb(231, 231, 228);
}

.name {
    margin-top: 0;
}

.email {
    margin-bottom: 0px;
}

/* @media (max-width: 767.98px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .box {
        margin: 20px auto; 
    }

    .left-box,
    .right-box {
        margin-right: 0;
        margin-bottom: 50px;
    }
} */