<div class="container">
  <div class="content">
    <p
    style="
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 20px;
      font-weight: 900;
      font-size: 30px;
      text-decoration: underline;
      flex-direction: row;
      align-items: center;


    "
  >
    Booking Period
  </p>


  <div style="display: flex; flex-direction:row;gap:4rem; ">

      <p>From Date: 19th April 2001</p>
     <p>To Date: 28th September 2001</p>
     <p>Number of Days: Infinity</p>
  </div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-6">
      <div class="box left-box">
        <h2 class="name">Visitors Details</h2>
        <br />
        <label for="name">Name:</label>
        <input type="name" />
        <br />
        <br />
        <label for="">Office/<br />Company:</label>
        <input type="name" />
        <br />

        <br />
        <label for="name">Address:</label>
        <input type="box" />
        <br />

        <br />
        <label for=""
          >GST<br />
          Number:</label
        >
        <input type="name" /><br />
        <br />
        <label for="name">Id card<br />Number</label>
        <input type="number" />
        <br />
        <br />
        <label for="">phone<br />Number:</label>
        <input type="number" />
        <br />
        <br />
        <label for="name">Id card<br />type</label>
        <input type="text" />
        <br />
        <br />
        <label for="">ID Card<br />Number:</label>
        <input type="number" />
        <br />
        <br />
        <label for="cars">Purpose Of Visit:</label>
        <select name="cars" id="cars">
          <option value="volvo">Office</option>
          <option value="saab">Travel</option>
          <option value="opel">holiday</option>
        </select>
        <br />
        <br />
        <label for="cars">sikkimese</label>
        <select name="cars" id="cars">
          <option value="volvo">Yes</option>
          <option value="volvo">No</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box right-box">
        <h2 class="name"> Room Details</h2>

      <br>
      <br>
      <label for="name"
      >House<br />
      Type :</label
    >
    <input type="text" />
    <br />
    <br />
    <label for=""
      >Room<br />
      Type</label
    >
    <input type="text" />
    <br />
    <br />
    <label for="name">Rate: </label>
    <input type="Number" />
    <br />
    <br />

    <label for="">
        Net<br />
        Amount:</label
      >
      <input type="name" />
      <br />
      <br />
      <label for="name">Discount:</label>
      <input type="number" />
      <br />
      <br />
      <label for="">phone<br />CGST:</label>
      <input type="number" />
      <br />
<br>
<label for="name">SGST:</label>
    <input type="text" />
    <br />
    <br />
    <label for="">TOTAL:</label>
    <input type="number" />
    <br />
    <br>
    <label for="cars">ROOM TYPE:</label>
    <select name="cars" id="cars">
      <option value="volvo">single</option>
      <option value="saab">double</option>
    </select>
    <br>
    <br>
    <label for="cars">Room No.:</label>
    <select name="cars" id="cars">
      <option value="volvo">1-10</option>
      <option value="volvo">20-30</option>
    </select>










      </div>
    </div>
  </div>
</div>
