<div
  class="one"
  style="margin-top: 2px; height: 200vh; background-color: #f0f0f0;padding:20px 20px"
>
  <p style="text-align: center; font-size: 1.5em; margin-bottom: 20px;   font-weight:900;font-size:30px">
    Booking Period
  </p>
  <br>
  <div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5rem;
      
      font-weight:bold;
    ">
    <p>From Date: 19th April 2001</p>
    <p>To Date: 28th September 2001</p>
    <p>Number of Days: Infinity</p>
  </div>
</div>
