<div
  class="one"
  style="
    margin-top: 2px;
    height: 175vh;
    background-color: #f0f0f0;
    padding: 20px 20px;
  "
>
  <p
    style="
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 20px;
      font-weight: 900;
      font-size: 30px;
      text-decoration: underline;
    "
  >
    Booking Period
  </p>
  <br />
  <div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 5rem;

      font-weight: bold;
    "
  >
    <p>From Date: 19th April 2001</p>
    <p>To Date: 28th September 2001</p>
    <p>Number of Days: Infinity</p>
  </div>

  <br />
  <p
    style="
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 20px;
      font-weight: 900;
      font-size: 30px;
      text-decoration: underline;
    "
  >
    Visitors Details
  </p>
  <br />
  <div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.5rem;
    "
  >
    <label for="name">Name:</label><br />
    <input type="name" />
    <br />
    <br />
    <label for="">Office/<br />Company:</label><br />
    <input type="name" />
    <br />
    <br />
  </div>
  <br />
  <div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.6rem;
    "
  >
    <label for="name">Address:</label><br />
    <input type="box" />
    <br />
    <br />
    <label for=""
      >GST<br />
      Number:</label
    ><br />
    <input type="name" />
    <br />
    <br />
  </div>
  <br />

  <div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.5rem;
    "
  >
    <label for="name">Id card<br />Number</label><br />
    <input type="number" />
    <br />
    <br />
    <label for="">phone<br />Number:</label><br />
    <input type="number" />
    <br />
  </div>
  <br />
  <div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.5rem;
    "
  >
    <label for="name">Id card<br />type</label><br />
    <input type="text" />
    <br />
    <br />
    <label for="">ID Card<br />Number:</label><br />
    <input type="number" />
    <br />
  </div>
  <br />
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 7.5rem;
    "
  >
    <div>
      <label for="cars">Purpose Of Visit:</label>
      <select name="cars" id="cars">
        <option value="volvo">Office</option>
        <option value="saab">Travel</option>
        <option value="opel">holiday</option>
      </select>
    </div>
    <div>
      <label for="cars">sikkimese</label>
      <select name="cars" id="cars">
        <option value="volvo">Yes</option>
        <option value="volvo">No</option>
      </select>
      <!-- <div class="one">
     <button (click)="onSubmit()">Submit</button>
    </div> -->
    </div>
  </div>

  <!-- <div
class="two"
style="
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;

  font-weight: bold;
"
>
<p>From Date: 19th April 2001</p>
<p>To Date: 28th September 2001</p>
<p>Number of Days: Infinity</p>
</div> -->

  <br />
  <br />
  <hr />
  <p
    style="
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 20px;
      font-weight: 900;
      font-size: 30px;
      text-decoration: underline;
    "
  >
    Room Details
  </p>
  <br />
  <div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.6rem;
    "
  >
    <label for="name"
      >House<br />
      Type :</label
    ><br />
    <input type="text" />
    <br />
    <br />
    <label for=""
      >Room<br />
      Type</label
    ><br />
    <input type="text" />
    <br />
    <br />
  </div>
  <br />
  <div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.4rem;
    "
  >
    <label for="name">Rate: </label><br />
    <input type="Number" />
    <br />
    <br />
    <label for="">
      Net<br />
      Amount:</label
    ><br />
    <input type="name" />
    <br />
    <br />
  </div>
  <br />

  <div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1rem;
    "
  >
    <label for="name">Discount:</label>
    <input type="number" />
    <br />
    <br />
    <label for="">phone<br />CGST:</label>
    <input type="number" />
    <br />
  </div>
  <br />
  <div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.5rem;
    "
  >
    <label for="name">SGST:</label><br />
    <input type="text" />
    <br />
    <br />
    <label for="">TOTAL:</label><br />
    <input type="number" />
    <br />
  </div>
  <br />
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 7.5rem;
    "
  >
    <div>
      <label for="cars">ROOM TYPE:</label>
      <select name="cars" id="cars">
        <option value="volvo">single</option>
        <option value="saab">double</option>
      </select>
    </div>
    <div>
      <label for="cars">Room No.:</label>
      <select name="cars" id="cars">
        <option value="volvo">1-10</option>
        <option value="volvo">20-30</option>
      </select>
      <!-- <div class="one">
 <button (click)="onSubmit()">Submit</button>
</div> -->
    </div>
  </div>

  <hr />
  <p
    style="
      text-align: center;
      font-size: 1.5em;
      margin-bottom: 20px;
      font-weight: 900;
      font-size: 30px;
      text-decoration: underline;
    "
  >
    Other Services
  </p>
  <br />
  <div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.6rem;
    "
  >
    <label for="cars"
      >Extra material<br />
      Required?:</label
    >
    <select name="cars" id="cars">
      <option value="volvo">Yes</option>
      <option value="saab">No</option>
    </select>
    <br />
    <br />
  </div>
  <br />
<br>
  <div
  class="two"
  style="
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
  "
>
  
  <br>
  <label for="cars"
  >Number of days extra<br />
  mattress used :</label
>
<select name="cars" id="cars">
  <option value="volvo">1-2</option>
  <option value="saab">3-4</option>
</select>
  <br />
  <label for="cars"
  >Daily <br> Charge
  </label
>
<input type="number">

  <br />
  <label for="cars"
  >Total:
  </label
>
<input type="number">
  <br>
</div>
<br>
<br>

<div
    class="two"
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 0.6rem;
    "
  >
    <label for="cars"
      >Pantry Service <br>Reqired?
      :</label
    >
    <select name="cars" id="cars">
      <option value="volvo">Yes</option>
      <option value="saab">No</option>
    </select>
    <br />
    <br />
  </div>
  <br />
<br>
  <div
  class="two"
  style="
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
  "
>
  
  <br>
  <label for="cars"
  >Daily Charge 
  </label
>
<input type="text" value="100">
  <br />

  <br />
  <label for="cars"
  >Total:
  </label
>
<input type="number">
  <br>
  
</div>
 
<br>
  <br>
  <div class="one" style="display: flex; justify-content:center">
    <button (click)="onSubmit()">Submit</button>
    </div>
  
</div>
