
    
    <title>Dropdown Menu</title>


    <div class="container">
        <nav class="navbar">
            <ul class="nav-links">
                <li class="nav-link">
                    <a href="#">Home</a>
                </li>
                <li class="nav-link services">
                    <a href="#">Services
                       
                    </a>
                    <ul class="drop-down">
                        <li>Service 1</li>
                        <li>Service 2</li>
                        <li>Service 3</li>
                    </ul>
                </li>
                <li class="nav-link">
                    <a href="#">About</a>
                </li>
                <li class="nav-link">
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

